body{
    height: auto;
    width: auto;
    margin: 170px;
    margin-bottom: 100px;
    display: grid;
    justify-items: center;
    background-color: #f4f1deff;
}

input[type=button], button[type=submit], input[type=submit]{
   background-color: white;
   padding: 14px 30px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
   border: 2px solid;
   border-radius: 4px;
}

.divparent{
    height: auto;
    width: auto;
    margin: auto;
}

h1{
    font-family: 'poppins',sans-serif;
    margin-right: 105%;
    position: absolute;
    top: 8px;
    left: 16px;
}

h1 a{
    color: black;
    text-decoration: none;
}

.p1,.p2 {
    font-family:'poppins',sans-serif;
    font-size: 18px;
}