body{
    height: 100%;
    margin: 15%;
    display: grid;
    justify-items: center;
    background-color: #f4f1deff;
    
}

.gifdiv{
    display: flex; 
    justify-content: center; 
    right: 100px;
    bottom: 50 px;
}
